include ../templates/header
link(rel="stylesheet", href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css")
link(rel="stylesheet", href="/css/tableStyle.css")
include ../templates/navbar

.container.my-5.p-5
    p.display-4 Posts
    if(posts)
        .container.p-3.m-3.table-container
            table#posts.display(style='width:100%')
                thead
                    tr
                        th ID
                        th Img
                        th Lat
                        th Lng
                        th Title
                        th Descr
                        th 
                        th 
                tbody
                    for post in posts
                        tr
                            td.idP #{post.id}
                            td 
                                img.tableImg(src=`${post.imgUrl}`, alt="")
                            td #{post.position.lat}
                            td #{post.position.lng}
                            td.title #{post.title}
                            td.descr #{post.description}
                            td
                                button.btn.btn-info.editPost Edytuj
                            td
                                button.btn.btn-danger.remPost Usuń
                tfoot
                    tr
                        th ID
                        th Img
                        th Lat
                        th Lng
                        th Title
                        th Descr
                        th 
                        th 
    hr.my-5
    //- p.display-4 Comments
    //- if(comments)
    //-     .container.p-3.m-3
    //-         table#comments.display(style='width:100%')
    //-             thead
    //-                 tr
    //-                     th ID
    //-                     th Post_ID
    //-                     th Login
    //-                     th Content
    //-                     th
    //-             tbody
    //-                 for comment in comments
    //-                     tr
    //-                         td.idC #{comment.id}
    //-                         td #{comment.postId}
    //-                         td #{comment.login}
    //-                         td #{comment.comment}
    //-                         td
    //-                             button.btn.btn-danger.remCom Usuń
    //-             tfoot
    //-                 tr
    //-                     th ID
    //-                     th Post_ID
    //-                     th Login
    //-                     th Content
    //-                     th

#editPostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editPostModalLabel', aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
        .modal-content
            .modal-header
                h5#editPostModalLabel.modal-title.h1  Edytuj
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body.row-fluid
                form
                    .form-group
                        label(for='newTitle') Tytuł 
                        input#newTitle.form-control(name="userName", type='text',  placeholder='')
                    .form-group
                        label(for='newDescr') Opis
                        textarea#newDescr.form-control(name="comment", rows="3")
                    button#updatePost.btn.btn-outline-success(type='submit') Zmień
            .modal-footer
                    button.btn.btn-outline-secondary(type='button', data-dismiss='modal') Close



script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
script(src="/js/dataTable.js")
include ../templates/footer